body{
  font-family: "Open Sans", sans-serif;

}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-color: #19c8fa;
  --main-color-shade: #19c9fa5a;
  --main-text-color: #777;
  --main-padding: 100px;
}
.container{
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.main-text{
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #353235;
  width: fit-content;
  position: relative;
  margin: 20px auto;
  height: 60px;
}
.main-text::before{
  content: "";
  height: 1px;
  position: absolute;
  width: 100px;
  background-color: #777;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.main-text::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #777;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
}
.title p{
  max-width: 500px;
  text-align: center;
  margin: 10px auto;
  color: #777;
}
.title{
  margin-top: 100px;
  margin-bottom: 100px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header  */
header{
  position: absolute;
  width: 100%;
}
header .container{
  display: flex;
  position: relative;
  align-items: center;
  min-height: 97px;
  padding-top: 30px;
  padding-bottom: 30px;
}
header .container::after{
  content: "";
  height: 1px;    
  position: absolute;
  width: calc(100% - 30px);
  background-color: white;
  bottom: 0px;
}
header .container .logo{
  display: flex;
  justify-content: center;
}
header ul{
  display: flex;
  flex: 1;
  gap: 0px 20px;
  justify-content: flex-end;
  align-items: center;
}
header ul li{
  list-style: none;
}
header ul li:hover a{
  color: var(--main-color);
}
header .menu{
  font-size: 25px;
  text-align: right;
  flex: 1;
  display: none;
}
@media (max-width: 991px) {
  header ul{
    display: none;
  }
  header .container{
    justify-content: space-between;
  }
  header .menu{
    display: block;
  }
  header .menu:hover +ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 30px);
    gap: 5px;
    justify-content: space-evenly;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.64);
  }
  header ul li{
    border-bottom: 1px solid white;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

}
header ul li a{
  text-decoration: none;
  color: white;
}
header i{
  color: white;
}
header .search{
  margin-left: 60px;
  padding-left: 20px;
  height: 60px;
  border-left: 1px solid white;
  display: flex;
  align-items: center;
}
/* end header  */
/* start landing  */
.landing{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: 100vh;
  z-index: -2;
  position: relative;
}
.landing .overlay{
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.453);
}
.landing .text{
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translatey(-50%);
  background: #19c8fa7a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 50px;
}
@media (max-width: 1199px){
  .landing .text{
    width: 100%;
    align-items: center;
    padding: 20px;
  }
}
.landing .content{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 70%;
  text-transform: uppercase;
}
@media (max-width: 1199px){
  .landing .content{
    width: 100%;
  }
}
.landing h2{
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}
.landing p{
  width: 100%;
  color: white;
  font-size: 14px;
  line-height: 2;
}
/* end landing  */
/* start services */
.service{
  display: grid;
  gap: 20px 100px;
  margin-bottom: 100px;
  grid-template-columns: repeat( auto-fill , minmax(450px , 1fr));
}
.service h3{
  color: var(--main-color);
}
.service .box{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 80px;
  grid-template-areas: 
  "i h"
  ". p"
  ;
}
@media (max-width: 767px) {
  .service{
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .service .box{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "i"
    "h"
    "p"
    ;
  }
  .service i,
  .service h3{
    text-align: center;
  }
}
.service .box i{
  grid-area: i;
}
.service .box p{
  grid-area: p;
  line-height: 1.5;
}
.service .box h3{
  grid-area: h;
}
/* end services */
/* design design  */
.design{
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  height: 60vh;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 100px;
  overflow: hidden;
  color: white;
}
.design .img{
  position: relative;
  bottom: -120px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.design .text{
  padding: 30px;
  background-color: var(--main-color-shade);
  width: 50%;
  flex: 1;
}
.design h2{
  margin-bottom: 20px;
}
.design .text ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 767px) {
  .design .img{
    display: none;
  }
}
/* end design  */
/* start portfolio */
.portfolio .buttons{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.portfolio button{
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #777;
}
.portfolio button:hover{
  background-color: var(--main-color);
  color: white;
}
.portfolio .shuffle{
  display: flex;
  flex-wrap: wrap;
}
.portfolio .shuffle .pic{
  max-width: 100%;
  position: relative;
  overflow: hidden;
  flex-basis: 100%;
  overflow: hidden;
}
.portfolio .shuffle .pic::after{
  content: "+";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    left: 50%;
    /* bottom: -100%; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-5000%);
}
.portfolio .shuffle .pic:hover::after{
  content: "+";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    left: 50%;
    top: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
    justify-content: center;
    transform: translateX(-50%);
}
@media (min-width: 768px) {
  .portfolio .shuffle .pic{
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .portfolio .shuffle .pic{
    flex-basis: 25%;
  }
}
@media (max-width: 767px) {
  .portfolio .buttons{
    gap: 2px;
    max-width: 100%;
  }
  .portfolio button{
    padding: 10px 5px;
  }
}
.portfolio img{
  width: 100%;
  z-index: -1;
  position: relative;
}
.portfolio .caps{
  padding: 20px;
  position: absolute;
  bottom: -100%;
  transition: 0.3s;
}
.portfolio .pic:hover .caps{
  bottom: 0;
  background-color: white;
  width: 100%;
}
.portfolio .pic .caps p{
  color: var(--main-color);
  font-weight: bold;
  font-size: 13px;
}
.portfolio .button{
  width: fit-content;
  margin: 20px auto 60px;
  background: var(--main-color);
  padding: 10px 50px;
  color: white;
  cursor:pointer;
}
/* end portfolio */
/* start video */
.video{
  height: fit-content;
  width: 100%;
  position: relative;
}
.video video{
  max-width: 100%;
}
.video .text{
  position: absolute;
  text-align: center;
  background: var(--main-color-shade);
  padding: 20px;
  color: white;
  left:50%;
  width: 100%;
  top: 50%;
  transform: translate(-50% , -50%);
}
.video .text h2{
  padding: 10px;
}
.video .text p{
  padding: 10px;
}
.video .text .button{
  background-color: black;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px auto;
}
/* end video */
/* start about */
.about .container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.about img{
  display: flex; 
  align-self: center;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}
.about-img{
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-img .container{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--main-color-shade);
}
.about-img .container .box{
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-img .container .box i{
  background-color:black;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-img .container .box h3{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-img .container .box p{
  font-size: 12px;
}
/* end about */
/* start skills  */
.skills{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.skills .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .skills .container{
    justify-content: center;
  }
}
.skills .container >div{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 30px;
  margin-bottom: 100px;
}
.skills h2{
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.skills p.main-p{
  max-width: 500px;
  text-align: center;
}
.skills p{
  color: var(--main-text-color);
}
.skills img{
  border-radius: 50%;
  width: 150px;
}
.skills .box{
  display: flex;
  gap: 35px;
  align-items: center;
}
@media (max-width: 991px) {
  .skills .box{
    gap: 20px;
  }
}
.skills .bullets{
  width: fit-content;
  margin: 10px auto;
}
.skills .bullets span{
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #777;
}
.skills .bullets span:nth-child(2){
  background-color: aqua;
  border-color: aqua;
}
.skills .text{
  display: flex;
  flex: column;
  flex-direction: column;
  line-height: 1.5;
  justify-content: center;
  border-bottom: 1px solid #777;
}
.skills span{
  margin-left: auto;
  color: var(--main-text-color);
  margin-bottom: 15px;
}
.skills .bars{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.skills h4{
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
.skills .bar{
  background-color: #EEE;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  position: relative;
}
.skills .bar span{
  display: block;
  height: 30px;
  position: relative;
  margin: 0px;
  background: aqua;
}
.skills .bar span::after{
  position: absolute;
  content: attr(width);
  right: 0px;
  color: white;
  background-color: black;
  transform: translate(50% , -150%);
  padding: 2px;
  border-radius: 2px;
}
.skills .bar span::before{
  content: "";
  position: absolute;
  right: 0px;
  border: 10px solid transparent;
  border-top: 10px solid black;
  transform: translate(50% , -70%);
  z-index: -1;
}
/* end skills  */
/* start pricing */
.pricing .prices{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
  justify-content: space-between;
  gap: 20px;
}
.pricing .prices .box{
  border-top: 2px solid aqua;
  border-bottom: 2px solid aqua;
  padding: 20px;
  text-align: center;
}
.prices .box h3{
  font-size: 50px;
  padding: 20px;
  font-weight: 500;
  position: relative;
}
.prices .box h3::after{
  content: "$";
  position: absolute;
  font-size: 20px;
  left: 30%;
}
.prices .feat span{
  padding: 20px;
  display: block;
  position: relative;
  text-align: center;
}
.prices .feat span:not(:last-child)::after{
  content: "";
  width: 100px;
  height: 2px;
  background-color: aqua;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .prices .feat{
  border-bottom: 2px solid aqua;
}
.pricing .prices .button{
  width: fit-content;
  margin: 40px auto;
  border: 1px solid aqua;
  cursor: pointer;
  padding: 10px 30px;
}
.pricing .contact{
  width: fit-content;
  margin: 30px auto;
  text-align: center;
}
.pricing .contact p{
  color: var(--main-text-color);
}
.pricing .contact .button{
  background-color: aqua;
  color: white;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  cursor: pointer;
}
/* end pricing */
/* start contact  */
.contact-us .emails{
  background-image: url(../images/subscribe.jpg);
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .contact-us .emails{
    flex-direction: column;
  }
}
.contact-us .emails form{
  width:400px;
  max-width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.contact-us .emails form button{
  background-color: aqua;
  border: 1px solid white;
  color: white;
  width: 100px;
  border-left: none;
  height: 100%;
  cursor: pointer;
  padding: 10px;
}
.contact-us form i{
  color: white;
  position: absolute;
  left: 20px;
}
.contact-us .emails form input{
  height: 100%;
  width: calc(100% - 100px);
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  border-right: none;
  padding: 20px 20px 20px 60px;
}
.contact-us .container .comms{
  display: flex;
}
.comms h3,
.comms span{
  color: var(--main-text-color);
}
.comms h3:nth-of-type(2){
  margin-top: 72px;
}
.comms form button{
  width: fit-content;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background: aqua;
  padding: 20px 30px;
  color: white;
}
.comms span{
  line-height: 1.8;
}
.comms h3{
  margin-bottom: 30px;
}
.contact-us .emails p{
  max-width: 500px;
  padding: 20px;
  color: white;
}
.contact-us .container form{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}
.contact-us .container form .input{
  padding: 20px;
  outline: none;
  border: 2px solid #77777744;
}
.contact-us .container form textarea{
  height: 200px;
}
.contact-us .container .adress{
  padding: 0px 20px;
  min-width: fit-content;
}
.contact-us .container .adress span{
  display: block;
}
@media (max-width:991px) {
  .contact-us .container .comms{
    flex-direction: column;
    text-align: center;
  }
  .comms form button{
    margin: 0px auto 20px;
  }
  .comms h3,
  .comms span{
    margin: 10px !important;
}
}
/* end contact  */
/* start footer  */
footer::before{
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  background-color: rgba(0, 0, 0, 0.389);
  position: absolute;
}
footer{
  height: 40vh;
  margin-top: 60px;
  position: relative;
  color: white;
  display: flex;
  z-index: -2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/subscribe.jpg);
}
footer img{
  width: 100px;
  margin-bottom: 30px;
}
footer i{
  color: white;
}
footer p{
  padding: 20px;
  width: 200px;
  text-align: center;
  border-bottom: 2px solid white
  ;
}
footer p:nth-of-type(2){
  font-weight: bold;
  border: none;
  width: 500px;
  max-width: 100%;
  position: absolute;
  bottom: 10px;
}
footer .socials{
  display: flex;
  gap: 20px;
  margin: 10px;
}
footer span{
  color: var(--main-color);
}
/* end footer  */